{% extends 'dashboard/base.html' %}
{% load custom_filters %}

{% block header %}
Home <span style="font-size: 12px; color: var(--text-color);">
    / Dashboard
</span>
{% endblock %}

{% block styles %}
<style>
    .dashboard-card {
        padding: 20px;
        border-radius: var(--item-border-radius);
        box-shadow: var(--item-shadow);
        text-align: center;
        color: var(--text-color);
    }
    .dashboard-card h2 {
        margin: 0;
        font-size: 24px;
    }
    .dashboard-card p {
        margin: 5px 0 0;
        font-size: 14px;
        color: var(--text-secondary);
    }
    .dashboard-row:hover {
        background: var(--item-bg);
        border-radius: var(--item-border-radius);
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}

<div class="overview" style="display: flex; align-items: center; justify-content: center;">

<div style="background-color: var(--content-bg); padding: 20px; border-radius: var(--item-border-radius); border-bottom: 1px solid var(--item-shadow)">

<div class="row dashboard-row" style="max-width: 1200px; margin: 0 auto;">
    <div class="col-md-3">
        <div class="dashboard-card">
            <h2>{{ total_patients }}</h2>
            <p>Registered Patients</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="dashboard-card">
            <h2>{{ total_doctors }}</h2>
            <p>Registered Doctors</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="dashboard-card">
            <h2>{{ completed_sessions_all_time }}</h2>
            <p>Sessions completed (All Time)</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="dashboard-card">
            <h2>{{ completed_sessions_last_week }}</h2>
            <p>Sessions completed (Last Week)</p>
        </div>
    </div>
</div>


    {% for phase in assessment_types %}
    <div class="row mt-4 dashboard-row"
    style="max-width: 1200px; margin: 0 auto;">
        <div class="col-md-3">
            <div class="dashboard-card">
                <h2>{{ assessments_completed_all_time|get_item:phase.name }}</h2>
                <p>{{ phase.verbose_name }} assessments (All Time)</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dashboard-card">
                <h2>{{ assessments_completed_last_week|get_item:phase.name }}</h2>
                <p>{{ phase.verbose_name }} assessments (Last Week)</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dashboard-card">
                <h2>{{ avg_assessment_score_all_time|get_item:phase.name }}</h2>
                <p>Avg {{ phase.verbose_name }} Score (All Time)</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dashboard-card">
                <h2>{{ avg_assessment_score_last_week|get_item:phase.name }}</h2>
                <p>Avg {{ phase.verbose_name }} Score (Last Week)</p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
</div>

{% endblock %}

{% block scripts %}
<script>
    // add class selected to nav-item in sidebar
    document.querySelector('.nav-item.home').classList.add('selected');
</script>
{% endblock %}
