{% block styles %}
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    border: 1px solid var(--item-shadow);
    text-align: center;
    padding: 10px;
    min-width: 55px;
  }

  th {
    background-color: var(--item-bg);
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .question {
    text-align: left;
    font-style: italic;
  }
</style>
{% endblock %}

<table>
  <thead>
    <tr>
      <th>Question</th>
      {% for label in phase.labels %}
      <th>{{ label }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for record in records %}
    <tr class="tabular" data-qid="{{ record.question_id }}">
      <td class="question">
        Q{{ record.question_id }}. {{ record.question_text }}
      </td>
      {% for score in phase.range %} {% if score == record.score %}
      <td>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="var(--icon-fill)"
        >
          <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z" />
        </svg>
      </td>
      {% else %}
      <td></td>
      {% endif %} {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
