{% extends "accounts/base.html" %}

{% block title %}Login{% endblock %}
{% block heading %}Login{% endblock %}

{% block extra_styles %}
    .container {
        min-width: 500px;
        height: unset;
        aspect-ratio: unset;
        {% comment %} max-width: 450px; {% endcomment %}
        {% comment %} max-height: 320px; {% endcomment %}
        {% comment %} aspect-ratio: 400/320; {% endcomment %}
    }
    .material-icons.right {
        left: unset;
        right: 10px;
        cursor: pointer;
    }
    .heading {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
    }

    .form-group.recaptcha-container {
        height: 85px;
    }

    .forgot-password {
        text-align: right;
        margin-top: 5px;
        width: 100%;
    }
    .forgot-password a {
        color: var(--accent-primary-dark);
        text-decoration: none;
    }


    {% comment %} responsive {% endcomment %}
    @media screen and (max-width: 550px) {
        .container {
            min-width: unset;
            max-width: unset;
            aspect-ratio: unset;
        }
    }
{% endblock %}


{% block content %}

<div class="container">
    <div class="heading">
        <span>Login to <i>BeaconMind<i></span>
    </div>


<form id="login-form" method="POST">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    {% if form.non_field_errors %}
    <div class="non-field-errors">
        <span class="material-icons err">error</span>
        <div class="error">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="form-group">
        <div class="form-inline">
            <span class="material-icons">person</span>
            <input type="text" id="username" name="username" required placeholder={{ form.username.label }}>
        </div>

        <div id="username-error" class="error">
            {% if form.username.errors %}
                {{ form.username.errors.0 }}
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <div class="form-inline">
            <span class="material-icons">lock</span>
            <input type="password" id="password" name="password" autocomplete required placeholder={{ form.password.label }}>
            <span class="material-icons right toggle-password" onclick="togglePasswordVisibility()">visibility_off</span>
        </div>
        <div class="forgot-password">
            <a href="#">Forgot password?</a>
        </div>
        <div id="password-error" class="error">
            {% if form.password.errors %}
                {{ form.password.errors.0 }}
            {% endif %}
        </div>
    </div>

    {% comment %} reCAPTCHA {% endcomment %}
    <div class="form-group recaptcha-container">
        {{ form.captcha }}

        <div id="captcha-error" class="error">
            {% if form.captcha.errors %}
                {{ form.captcha.errors.0 }}
            {% endif %}
        </div>
    </div>

    <button type="submit" id="submit-btn" onclick="validateAllFields(event)">Login</button>
</form>

<div class="reg-info">
    <p>Don't have an account? <a href="{% url 'accounts:register' %}">Register</a></p>
</div>

</div>

{% block extra_scripts %}
<script>

    var recaptchaValidFlag = false;

    function validateAllFields(event) {

        if (!checkRequiredFieldsFilled() || !recaptchaValidFlag) {
            event.preventDefault();
        }

        let username = document.getElementById('username');
        let password = document.getElementById('password');
        let captcha = document.getElementById('g-recaptcha-response');
        
        if (username.value === '') {
            event.preventDefault();
            document.getElementById('username-error').innerText = 'This field is required';
        }
        
        if (password.value === '') {
            event.preventDefault();
            document.getElementById('password-error').innerText = 'This field is required';
        }
        
        if (captcha.value === '') {
            event.preventDefault();
            document.getElementById('captcha-error').innerText = 'This field is required';
        }
    }
    
    
    function togglePasswordVisibility() {
        let passwordField = document.getElementById('password');
        let toggleIcon = document.querySelector('.toggle-password');
        
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            toggleIcon.textContent = 'visibility';
        } else {
            passwordField.type = 'password';
            toggleIcon.textContent = 'visibility_off';
        }
    }

    function checkRequiredFieldsFilled() {
        const form = document.getElementById('login-form');

        // loop through all form elements; check if they are required and filled
        for (let i = 0; i < form.elements.length; i++) {
            const element = form.elements[i];
            if (element.required && element.value === '') {
                return false;
            }
        }
        return true;
    }


    // reCAPTCHA callback
    function recaptchaCallback() {
        recaptchaValidFlag = true;
        const submitBtn = document.getElementById('submit-btn');
        if (checkRequiredFieldsFilled()) {
            console.log(checkRequiredFieldsFilled());
            submitBtn.disabled = false;
            submitBtn.click();
            submitBtn.disabled = true;
        
            // waiting dots for login btn
            renderWaitingDots();
        }
        else {
            submitBtn.click();
        }
    }
    function recaptchaExpiredCallback() {
        recaptchaValid = false;
    }

    // render waiting dots
    function renderWaitingDots() {
        const submitBtn = document.getElementById('submit-btn');
        submitBtn.disabled = true;
        submitBtn.innerHTML = /*html*/`
            <div class="waiting-dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        `;
    }

</script>
<script src="https://www.google.com/recaptcha/api.js?render={{ RECAPTCHA_PUBLIC_KEY }}"></script>
{% endblock %}

{% endblock %}
