{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}Forgot Password{% endblock %}

{% block extra_styles %}
<style>

    .container {
        min-height: unset;
        aspect-ratio: unset;
    }

    .form-group {
        padding: 10px 0;
        margin-bottom: 0;
    }

    .waiting-dots {
        display: none;
    }

    #submit-btn.loading .waiting-dots {
        display: flex;
    }

    #submit-btn.loading #message {
        display: none;
    }

    #info {
        margin-top: 10px;
        font-size: 14px;
    }

    #info:empty::before {
        content: "\200B";
        visibility: hidden;
    }

    .reg-info {
        text-align: center;
        margin-top: 20px;
    }

    .reg-info a {
        color: var(--accent-primary-dark);
        font-weight: bold;
        text-decoration: none;
    }

    .reg-info a:hover {
        text-decoration: underline;
    }

    @media screen and (max-width: 550px) {
        .container {
            min-width: unset;
            max-width: unset;
            aspect-ratio: unset;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Reset Your Password</h2>
    <p>Enter your email to receive password reset instructions.</p>

    <form method="POST" id="passwordResetForm">
        {% csrf_token %}
        
        <div class="form-group">
            <div class="form-inline">
                <span class="material-icons icon left">email</span>
                <input type="email" name="email" id="email" required placeholder="Enter your email">
            </div>
            <div id="info"></div>
        </div>


        <button type="submit" id="submit-btn">
            <div id="message">
                Send Reset Link
            </div>
            <div class='waiting-dots'><span></span><span></span><span></span></div>
        </button>
    </form>
</div>

{% endblock %}

{% block extra_scripts %}
    <script>


        const renderWaitingDots = () => {
            const submitBtn = document.getElementById("submit-btn");
            submitBtn.classList.add("loading");
        };

    document.getElementById("passwordResetForm").addEventListener("submit", async function(event) {
        event.preventDefault();

        const email = document.getElementById("email").value;
        const messageElement = document.getElementById("message");
        const infoElement = document.getElementById("info");
        const submitBtn = document.getElementById("submit-btn");

        submitBtn.disabled = true;
        submitBtn.style.cursor = "not-allowed";

        renderWaitingDots();

        const response = await fetch("{% url 'accounts:api-password-reset-request' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
            body: JSON.stringify({ email })
        });

        const data = await response.json();
        if (response.ok) {
            submitBtn.classList.remove("loading");
            infoElement.textContent = "Sent! Check your email.";
            infoElement.style.color = "green";
            messageElement.textContent = "";
            messageElement.innerHTML = /*html*/`
            <div style="display: flex; align-items: center; gap: 5px;">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>
                <span>Sent! Check your email.</span>
            </div>
                `;
        } else {
            submitBtn.classList.remove("loading");
            infoElement.textContent = data.error || data || "Something went wrong.";
            infoElement.style.color = "red";
            // messageElement.textContent = "";
            // messageElement.innerHTML = /*html*/`
            // <div style="display: flex; align-items: center; gap: 5px;">
            //     <span class="material-icons icon">error</span>
            //     <span>${data.error || "Something went wrong."}</span>
            // </div>
            //     `;
        }
    });
    </script>
{% endblock %}
