{% extends "accounts/base.html" %}

{% block title %}Register{% endblock %}

{% block extra_styles %}
    .container {
        min-width: 500px;
        height: unset;
        aspect-ratio: unset;
    }
    .icon.right {
        left: unset;
        right: 10px;
        cursor: pointer;
    }
    .heading {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
    }


    {% comment %} responsive {% endcomment %}
    @media screen and (max-width: 550px) {
        .container {
            min-width: unset;
            max-width: unset;
            aspect-ratio: unset;
        }

        .form-content.row {
            flex-direction: column;
            gap: unset;
        }

        .col-1, .col-2 {
            width: 100%;
            padding: unset !important;
            border: unset !important;
        }

        #address {
            resize: vertical;
            min-height: 1em;
            max-height: 100px;
            scroll-behavior: auto;
            scrollbar-width: none;
        }
    }
{% endblock %}

{% block content %}

<div class="container">
    <div class="heading">
        <span>Register to <i>BeaconMind<i></span>
    </div>

<form id="register-form" method="POST">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    {% if form.non_field_errors %}
    <div class="non-field-errors">
        <span class="material-icons icon left err">error</span>
        <div class="error">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="form-content row">

        <div class="col-1">
        

    <div class="form-group">
        {% comment %} <label for="username">Username</label> {% endcomment %}
        <div class="form-inline">
            <span class="material-icons icon left">person</span>
            <input type="text" id="username" name="username" required placeholder={{ form.username.label }}>
        </div>
        {% if form.username.errors %}
            <div id="username-error" class="error non-field-errors">
                {{ form.username.errors.0 }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        <div class="form-inline">
            <span class="material-icons icon left">email</span>
            <input type="email" id="email" name="email" required placeholder={{ form.email.label }}>
        </div>

        {% if form.email.errors %}
            <div id="email-error" class="error non-field-errors">
                {{ form.email.errors.0 }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        <div class="form-inline">
            <span class="material-icons icon left">phone</span>
            <input type="text" id="phone" name="phone" required placeholder={{ form.phone.label }}>
        </div>

        {% if form.phone.errors %}
            <div id="phone-error" class="error non-field-errors">
                {{ form.phone.errors.0 }}
            </div>
        {% endif %}
    </div>
    
</div>
<div class="col-2">
    <div class="form-group">
        <div class="form-inline">
            <span class="material-icons icon left">home</span>
            <textarea id="address" name="address" placeholder={{ form.address.label }}></textarea>
        </div>
        
        {% if form.address.errors %}
        <div id="address-error" class="error non-field-errors">
            {{ form.address.errors.0 }}
        </div>
        {% endif %}
    </div>
    


    <div class="form-group">
        <div class="form-inline">
            <span class="material-icons icon left">lock</span>
            <input type="password" id="password1" name="password1" autocomplete required placeholder={{ form.password1.label }}>
            <span class="material-icons icon right cursor-pointer toggle-password" onclick="togglePasswordVisibility(this)">visibility_off</span>
        </div>
        
        {% if form.password1.errors %}
            <div id="password-error" class="error non-field-errors">
                {{ form.password1.errors.0 }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        <div class="form-inline">
            <span class="material-icons icon left">lock</span>
            <input type="password" id="password2" name="password2" autocomplete required placeholder={{ form.password2.label }}>
            <span class="material-icons icon right cursor-pointer toggle-password" onclick="togglePasswordVisibility(this)">visibility_off</span>
        </div>

        <div id="password-error" class="error"></div>

        {% if form.password2.errors %}
            <div id="password-error" class="error non-field-errors">
                {{ form.password2.errors.0 }}
            </div>
        {% endif %}
        </div>
    </div>
</div>
        
    {% if form.role.field.widget.input_type == 'hidden' %}
        <input type="hidden" name="role" value="{{ form.role.value|default:'patient' }}">
    {% else %}
        <div class="form-group">
            <label for="role">Register as</label>
            <div class="select-wrapper">
                <select id="role" name="role">
                    {% for value, label in form.role.field.choices %}
                    <option value="{{ value }}">
                        {{ label }}
                    </option>
                    {% endfor %}
                </select>
                <span class="material-icons icon left">assignment_ind</span>
            </div>

            {% if form.role.errors %}
                <div id="role-error" class="error non-field-errors">
                    {{ form.role.errors.0 }}
                </div>
            {% endif %}
        </div>
    {% endif %}

    
    <div class="agreement form-group">
        <label for="agreement" class="form-control">
            <input type="checkbox" id="agreement" name="agreement" required>
            <span> I agree to the <a href="#">terms and conditions</a><span>
            </label>
        </div>

        
        <button type="submit" id="submit-btn" hidden>Register</button>
    </form>
    
    <div class="lg-info">
        <p>Already have an account? <a href="{% url 'accounts:login' %}">Login</a></p>
    </div>
</div>

{% endblock %}

{% block extra_scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("register-form");
        const password1 = document.getElementById("password1");
        const password2 = document.getElementById("password2");
        const passwordError = document.getElementById("password-error");

        form.addEventListener("submit", function (event) {
            if (password1.value !== password2.value) {
                event.preventDefault();
                passwordError.textContent = "Passwords do not match!";
            } else {
                passwordError.textContent = "";
            }
        });

        // password validations
        password1.addEventListener("input", function () {
            if (password1.value.length < 5) {
                password1.setCustomValidity("Password must be at least 5 characters long.");
            }
            else if (password1.value.length > 50) {
                password1.setCustomValidity("Password must be at most 50 characters long.");
            }
            else if (password1.value === username.value || password1.value === email.value) {
                password1.setCustomValidity("Password must be different from username.");
            }
            else {
                password1.setCustomValidity("");
            }
        });

    });
    const togglePasswordVisibility = (element) => {
        const input = element.previousElementSibling;
        if (input.type === "password") {
            input.type = "text";
            element.textContent = "visibility";
        } else {
            input.type = "password";
            element.textContent = "visibility_off";
        }
    };
</script>
{% endblock %}

